<nav class="navbar navbar-expand-lg py-3">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
            <img src="assets/fantastickers.png" height="30rem">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Catégories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="products">Sticker mural</a></li>
                        <li><a class="dropdown-item" routerLink="products">Sticker pour fenetre</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="products">Jeux video</a></li>
                        <li><a class="dropdown-item" routerLink="products">Dessins animés</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about-us" routerLinkActive="active">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="rewards" routerLinkActive="active">Récompenses</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="login" routerLinkActive="active"><i class="h5 fas fa-user"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="cart" routerLinkActive="active"><i class="h5 fas fa-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>