<footer class="">
    <div class="d-flex flex-nowrap justify-content-center socialBar align-items-center py-1">
        <h3 class= "text-white">Retrouvez-nous sur :</h3>
        <ul class="d-flex mt-2">
            <li class="me-3">
                <a href="https://www.facebook.com/StickerzPro" target="_blank" rel="nofollow">                    
                    <img src="https://i2.cdscdn.com/resources/RWD/footer/facebook.png" alt="StickerzPro sur Facebook" title="StickerzPro sur Facebook">
                </a>
            </li>
            <li class="me-3">
                <a href="https://twitter.com/StickerzPro" target="_blank" rel="nofollow">                    
                    <img src="https://i2.cdscdn.com/resources/RWD/footer/twitter.png" alt="StickerzPro sur Twitter" title="StickerzPro sur Twitter">
                </a>
            </li>
            <li class="me-3">
                <a href="https://www.instagram.com/StickerzPro/" target="_blank" rel="nofollow">                    
                    <img src="https://i2.cdscdn.com/resources/RWD/footer/instagram.png" alt="StickerzPro sur Instagram" title="StickerzPro sur Instagram">
                </a>
            </li>
        </ul>
    </div>
    <div class="footerNav">
        <ul class="text-white d-flex justify-content-center">
            <li class="me-4">
                <a href="#">Nous contacter</a>
            </li>
            <li class="me-4">
                <a href="#">Conditions générales d'utilisation</a>
            </li>
            <li class="me-4">
                <a href="#">Paiement sécurisé</a>
            </li>
        </ul>
    </div>
</footer>