
<div class="text-center login-form d-flex justify-content-center align-items-center">
    <form>
        <img class="mb-4" src="assets/fantastickers-black.png" alt="logo StickerZpro"  height="57">
        <h1 class="h3 mb-3 fw-normal">Connexion</h1>
        <label for="inputEmail" class="visually-hidden">Adresse E-mail</label>
        <input type="email" id="inputEmail" class="form-control mb-3" placeholder="Adresse E-mail" required autofocus>
        <label for="inputPassword" class="visually-hidden">Mot de passe</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
        <div class="checkbox my-3">
          <label>
            <input type="checkbox" value="remember-me"> Se souvenir de moi
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Se connecter</button>
        <a routerLink="/lost-password">Mot de passe perdu ?</a>
        <br>
        <a routerLink="/register">Pas encore de compte ?</a>
    </form> 
</div>