@mixin fantaButton {
    background-color: $color-primary;
    color: white;
    border-radius: unset;
    &:hover {
        color: white;
        background-color: darken($color-primary, 5%);
    }
}